<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todolist Vue alternative</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="./assets/css/style.css">
</head>
<body>
    

    <div id="app">

        <div class="container">
            <div class="logo">
                <img src="./assets/img/logo.png" alt="">
            </div>
            <!-- /.logo -->
            <div class="inputs">
                <input type="text" placeholder="Nuovo Todo" v-model="newTask" @keyup.enter="addTask">
                <button @click="addTask">Aggiungi</button>
            </div>
            <!-- /.inputs -->
            <div class="todo_list">
                <ul class="todo_ul">
                    <li class="li_title">Todo List</li>
                    <li style="justify-content: center;" v-if="tasks.length === 0">Nulla da fare 🥳 </li>
                    <li v-for="(task, index) in tasks">
                        <span>{{ task.text }}</span>
                        <div class="icons">
                            <i class="fa-solid fa-circle-check not_done" @click="goToCompleted(index)"></i>
                            <i class="fa-solid fa-trash" @click="goToDeleted(index)"></i>
                        </div>
                        <!-- /.icons -->
                    </li>
                </ul>
                <!-- /. todo_ul  -->
                <ul class="completed_ul">
                    <li class="li_title">Completed</li>
                    <li style="justify-content: center;" v-if="completedTasks.length === 0">😴</li>
                    <li v-for="(task, index) in completedTasks">
                        <span>{{ task.text }}</span>
                        <div class="icons">
                            <i class="fa-solid fa-arrow-rotate-left" @click="goToTasks(index)"></i>
                        </div>
                        <!-- /.icons -->
                    </li>
                </ul>
                <!-- /. completed_ul  -->
                <ul class="deleted_ul">
                    <li class="delete_title li_title">
                        <span>Deleted</span> 
                        <i class="fa-solid fa-dumpster-fire burn_icon" @click="deleteAll" :class="deletedTasks.length === 0 ? 'd_none' : 'd_block'"></i>
                        <i class="fa-solid fa-recycle return_icon" :class="deletedTasks.length === 0 ? 'd_block' : 'd_none'" @click="annulDeleteAll"></i>
                    </li>
                    <li style="justify-content: center;" v-if="deletedTasks.length === 0">🗑</li>
                    <li v-for="(task, index) in deletedTasks">
                        <span>{{ task.text }}</span>
                        <div class="icons">
                            <i class="fa-solid fa-trash-arrow-up" @click="cancelDelete(index)"></i>
                        </div>
                        <!-- /.icons -->
                    </li>
                </ul>
                <!-- /. completed_ul  -->
            </div>
            <!-- /.todo_list -->

        </div>
        <!-- /.container -->


    </div>
    <!-- /#app -->


    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script src="./assets/js/app.js"></script>
</body>
</html>